<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.index" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31" >

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKfTtHfVwICHR3UtZVXQMcHl00CBL0Yqw" />

        <activity
            android:name=".MapaEvento"
            android:exported="false"
            android:label="@string/title_activity_mapa_evento" />
        <activity
            android:name=".Splash.SplashEventoRegistrado"
            android:exported="false" />
        <activity
            android:name=".OpcionesMenu.EventosVoluntarios.EventosUnirse"
            android:exported="false" />
        <activity
            android:name=".OpcionesMenu.EventosAdministrador.EditarEventos"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashEventoCreado"
            android:exported="false" />
        <activity
            android:name=".OpcionesMenu.EventosAdministrador.CrearEventos"
            android:exported="false" />
        <activity
            android:name=".OpcionesMenu.Convocatorias.DescripConvocatoria"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashRegister"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashStar"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuUser"
            android:exported="false"
            android:label="@string/title_activity_menu_user"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".SolicitudConvocatoria"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
    </application>

</manifest>